<div class="example-form" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="center stretch">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">


    <mat-form-field fxLayout='row' fxLayoutGap='20px'>
      <label>
        Email:
        <input matInput type="text" formControlName="email">
      </label>
    </mat-form-field>

    <br>

    <mat-form-field fxLayout='row' fxLayoutGap='20px'>
      <label>
        Password:
        <input matInput type="password" formControlName="password">
      </label>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">SignUp</button>

    &nbsp;

    <button mat-raised-button color="primary" (click)="login()" [disabled]="!profileForm.valid">SignIn with
      FB</button>


  </form>
  <br>

</div>